footer.footer 
    .footer__logo 
        img(src="/img/logo-green.png" , alt="Natours logo")
    ul.footer__nav
        li: a(href="#") About Us 
        li: a(href="#") Download App
        li: a(href="#") Become a guest 
        li: a(href="#") careers
        li: a(href="#") contact 
    p.footer__copyright  by Pratik satpathy. All rights reserved.

