extends base

block content
    main.main
        .user-view
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Sign Up Page
                    form.form.form-signup-data
                        .form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', required, name='name')
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email
                            input#email.form__input(type='email', required, name='email')
                        .form__group
                            label.form__label(for='password') New password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--signup Continue 
